 body {
     font-family: Arial, sans-serif;
     background-color: #0f0f0f;
     color: #f0f0f0;
     margin: 0;
     padding: 0;
 }

 body.light-mode {
     background-color: #f8f8f8;
     color: #111;
 }

 header {
     background-color: #111;
     padding: 20px;
     border-bottom: 2px solid #00ff88;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 body.light-mode header {
     background-color: #fff;
     border-color: #00aa55;
 }

 .logo-container {
     display: flex;
     align-items: center;
     gap: 15px;
 }

 .logo {
     width: 80px;
     height: auto;
 }

 h1 {
     font-size: 2rem;
     margin: 0;
     color: #00ff88;
 }

 body.light-mode h1 {
     color: #00aa55;
 }

 #toggleTheme {
     background-color: #00ff88;
     color: #111;
     border: none;
     padding: 10px 20px;
     font-weight: bold;
     border-radius: 8px;
     cursor: pointer;
     margin-top: 10px;

 }

 #toggleTheme:hover {
     background-color: #00cc70;
 }

 #dowload {
     background-color: #00ff88;
     color: #111;
     border: none;
     padding: 10px 20px;
     font-weight: bold;
     border-radius: 8px;
     cursor: pointer;
     margin-top: 10px;
     margin-right: -60%;
 }

 #dowload:hover {
     background-color: #00cc70;
 }

 button {
     background-color: #555;
     color: #00ff88;
     border-radius: 5px;
     padding: 10px 10px;
     cursor: pointer;
     margin-top: 5px;
     border: none;
 }

 button:hover {
     background-color: #333;
 }

 .filtros {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 15px;
     padding: 20px;
 }

 #busca,
 #filtroCategoria,
 #precoMin,
 #precoMax {
     padding: 10px;
     border-radius: 5px;
     border: 1px solid #555;
     font-size: 1rem;
     background-color: #1c1c1c;
     color: #fff;
     min-width: 150px;
 }

 body.light-mode #busca,
 body.light-mode #filtroCategoria,
 body.light-mode #precoMin,
 body.light-mode #precoMax {
     background-color: #fff;
     color: #111;
     border: 1px solid #ccc;
 }

 .catalogo-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
     grid-auto-rows: 1fr;
     max-width: 1200px;
     margin: 0 auto;
     gap: 20px;
     padding: 20px;
 }

 .produto {
     background-color: #1e1e1e;
     border: 1px solid #333;
     border-radius: 10px;
     padding: 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     min-height: 420px;
     cursor: pointer;
     transition: transform 0.3s;
 }

 .produto:hover {
     transform: scale(1.03);
     border-color: #00ff88;
 }

 body.light-mode .produto {
     background-color: #fff;
     border: 1px solid #ddd;
 }

 .produto img {
     width: 100%;
     height: 180px;
     object-fit: cover;
     border-radius: 8px;
     margin-bottom: 10px;
     background-color: #222;
 }

 .produto h2 {
     color: #00ff88;
     font-size: 1.2em;
     margin-bottom: 10px;
 }

 body.light-mode .produto h2 {
     color: #00aa55;
 }

 .preco {
     font-weight: bold;
     color: #00ffd0;
 }

 body.light-mode .preco {
     color: #008866;
 }


 footer {
     background-color: #111;
     color: #ccc;
     text-align: center;
     padding: 20px;
     font-size: 0.95rem;
     border-top: 2px solid #00ff88;
     margin-top: 30px;
 }

 body.light-mode footer {
     background-color: #f0f0f0;
     color: #222;
     border-top: 2px solid #00aa55;
 }

 footer p {
     margin: 5px 0;
 }


 .modal {
     display: none;
     position: fixed;
     z-index: 999;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.8);
 }

 .modal-content {
     background-color: #1e1e1e;
     margin: 80px auto;
     padding: 20px;
     border-radius: 10px;
     max-width: 600px;
     text-align: center;
     color: #fff;
     position: relative;
 }

 .modal-content img {
     max-width: 100%;
     height: auto;
     border-radius: 8px;
     margin-bottom: 15px;
 }

 .fechar-modal {
     position: absolute;
     top: 10px;
     right: 15px;
     color: #aaa;
     font-size: 28px;
     font-weight: bold;
     cursor: pointer;
 }

 .fechar-modal:hover {
     color: #fff;
 }

 .whatsapp {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: #25d366;
     color: white;
     border-radius: 50%;
     padding: 15px;
     font-size: 24px;
     text-decoration: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     z-index: 999;
 }